<ul>
  <% Slot.days.each_with_index do |day, index| %>
    <% slots_by_day_and_shop = Slot.where(day: day, shop_id: shop) %>
    <li class="<%= 'fw-bold' if index == 0 %>">
      <div class="row d-flex flex-row p-3 border bg-light justify-content-between">
        <%= t "date.#{day.downcase}", class: "col-4" %>
        <div class="col-11">
          <% if slots_by_day_and_shop.any? %>
            <% slots_by_day_and_shop.each_with_index do |slot, index| %>
              <%= ", " if index != 0 %><%= display_slot(slot) %>
            <% end %>
          <% else %>
            <%= t "no_slots" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
