<h1>
  <%= t ".title", name: @shop.name %>
</h1>

<%= render "form", shop: @shop, slot: @slot %>

<ul>
  <% @shop.slots.each do |slot| %>
    <li>
      <%= slot.day %> : <%= slot.start_hour %>h<%= slot.start_minute %> à <%= slot.end_hour %>h<%= slot.end_minute %>
    </li>
  <% end %>
</ul>
