<h1>
  <%= t ".name_shop_html", name: @shop.name %>
</h1>
<ul>
  <p><%= t ".slots" %>:</p>
  <% Slot.days.each do |day| %>
    <li>
      <%= day %>:
      <% @shop.slots.each do |slot| %>
        <%= display_slot(slot) if day == slot.day %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", shops_path %>
